:host{
    min-width: 100%;
    margin-bottom: 0.5rem;
}
.received-message, .sent-message{
    padding: 0.3rem;
    max-width: 9rem;
    border-radius: 10px;
}
.received-message{
    background-color: #E1E1E1;
    float: left;
}
.sent-message{
    background-color: #CBE5DD;
    float: right;
}