:host {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  border-radius: 10px;
  width: 13rem;
  height: 20rem;
  background-color: #ededed;
  box-shadow: 0px 19px 38px rgba(0, 0, 0, 0.3),
    0px 15px 12px rgba(0, 0, 0, 0.22);
}

.chat-body {
  padding: 0.5rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
}
